[server]
port = 32767

[logger]

[auth.jwt_encoder_config]
encoding_keys = [
    {algorithm = "HS256", form = "der_inline", kid = "id1", key = "test"}
]
issue_as = "crab-vault"
audience = ["crab-vault"]

[auth.jwt_decoder_config]
audience = ["crab vault"]
leeway = 0
reject_tokens_expiring_in_less_than = 0
decoding_keys = [
    ["brain overflow", {algorithm = "HS256", form = "der_inline", kid = "key 2", key = "dGVzdDI="}],
    ["crab-vault", {algorithm = "HS256", form = "der_inline", kid = "id1", key = "test"}]
]
