[server]
port = 32767

[server.auth]
# 开发环境所有端点公开访问
[[server.auth.path_rules]]
pattern = "*"
public_methods = ["ALL"]

[server.auth.jwt_config]
encoding = {algorithm = "HS512", form = "der_inline", key = "aGVsbG8td29ybGQ="}  # 开发环境密钥
decoding = [
    "some one", {algorithm = "HS256", form = "der_inline", key = "aGVsbG8td29ybGQ="}
]  # 开发环境密钥，注意：decoding_key 是一个数组，可以接受很多的密钥

[server.auth.jwt_config.validation]
aud = ["crab vault"]

[logger]
level = "debug"  # 开发环境使用更详细的日志
with_ansi = true # 开发环境使用彩色输出
with_file = true
with_target = true
with_thread = true
# 开发环境可以不输出到文件
# dump_path = "./logs"
# dump_level = "debug"
